@import './core/colors';

.img {
  border-radius: 7px;
}

.yes {
  background-color: $other-green;
}

.no {
  background-color: $red;
}

.scheduleTitle {
  font-weight: 600;
  margin-bottom: 10px;
}

.dateList {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
    text-align: center;
  }
}
