$green: #8FD1B0;
$other-green: #91D0B1;
$cyan: #33e0ff;
$blue: #92B3DD;
$blue2: #80D3D2;
$gray: #777;
$off-white: #FCF9F4;
$yellow: #FED275;
$purple: #C0A7DE;
$salmon: #cc7a6f;
$charcoal: #636472;
$charcoal-2: #4D4E59;
$red: #f66a6a;

$code-color: #333;
$code-background: rgba(0,0,0,0.06);

// tomorrow
// $markdown-code-color: #4d4d4c;
// $markdown-code-background: #ffffff;

$markdown-code-color: #4d4d4c;
$markdown-code-background: $off-white;

$body-color: $charcoal;
$brand-color: $purple;
$background-color: #4D4E59;
// $main-background-color: #f8f8f8;
$main-background-color: $red;

$link-color: $purple;
$link-hover-color: $blue;

$nav-background-color: #f8f8f8;
$nav-brand-color: $brand-color;
$nav-highlight-color: $purple;
